{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="google-site-verification" content="eb-rFKnUG-VZWDBVdrW-85QhfMYXiB7M5AVpmXU1UzM" />
  <meta name="author" content="Ragu">
  <meta name="robots" content="index, follow" />
  <meta name="description" content="Easily download videos from YouTube as mp3 and mp4 in high quality" />
<meta name="keywords" 
content="ragu youtube,
ragu youtube downloader ,
ragu yt,
youtube to mp3,
youtube downloader,
youtube converter mp3,
youtube mp4,
youtube video downloader free download,
youtube downloader online,
download youtube videos mac,
youtube to mp4 1080p,
free youtube to mp3,
4k youtube to mp3,
4k youtube to mp4,
alternative to youtube downloader,
youtube shorts downloader,
youtube video downloader chrome,
youtube downloader iphone,
fastest free youtube downloader" />
<meta name="language" content="en">
<link rel="alternate" hreflang="x-default" href="https://ragu-youtube.herokuapp.com/" />
<link rel="alternate" hreflang="en" href="https://ragu-youtube.herokuapp.com/" />
<meta itemprop="name" content="Free Online Video Downloader mp3 and mp4 from youtube" />
        <meta itemprop="url" content="https://ragu-youtube.herokuapp.com/" />
        <meta itemprop="image" content="https://raw.githubusercontent.com/Raguggg/yt/master/xqx.jpg" />
<meta property = "og:type" content=" download website ">
  <meta property="og:site_name" content="youtube downloader">
  <meta property="og:title" content="download youtube videos free">
  <meta property="og:image" content="https://raw.githubusercontent.com/Raguggg/yt/master/xqx.jpg">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="500px">
  <meta property="og:image:height" content=" 497px">
  <meta property="og:description" content="youtube videos download for free and video and audio file">
      <link rel = "icon" href ="https://raw.githubusercontent.com/Raguggg/yt/master/xqx.jpg" type = "image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>YouTube-downloader</title>
    <style>
.title {
    font-family:arial black;
    font-size:50px;
    background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: move 70s linear infinite;
  }
  
  @keyframes move {
    to {
      background-position: 3500vh;
    }
  }

    </style>
</head>
<body>
<div class="container-fluid">
    {% block content %}

    {% endblock %}

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>