{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
      <link rel = "icon" href ="https://raw.githubusercontent.com/Raguggg/yt/master/xqx.jpg" type = "image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>YouTube-downloader</title>
    <style>
.title {
    font-family:arial black;
    font-size:50px;
    background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: move 70s linear infinite;
  }
  
  @keyframes move {
    to {
      background-position: 3500vh;
    }
  }

    </style>
</head>
<body>
<div class="container-fluid">
    {% block content %}

    {% endblock %}

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>